h1 {
    border-bottom: 1px double #ccc;
}

main {
    min-height: 10em;
}

table {
    border: 1px solid #ccc;
    padding: 0.5em;
}

tr.first {
    background-color: #ddd;
}

tr:hover {
    background-color: #eee;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

th,
td {
    padding: 4px;
}

img.thumb {
    max-width: 100px;
    max-height: 100px;
}

footer {
    border-top: 1px solid #ccc;
}

footer a {
    text-decoration: none;
}
